hr {
    border-color: #2E3347;
}

#form-container {
    font-family: 'Bai Jamjuree';

    .flex-one-half {
        flex: 45%;
    }

    #add-recipe {
        background: #764AF4;
    }

}

input {
    background: #181F30;
    box-shadow: 0px 0px 0px 1px #5B6178;
    color: #E9EAF6;
}

select {
    background: #181F30;
    box-shadow: 0px 0px 0px 1px #5B6178;
    /* 150% */
    color: #E9EAF6;
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    background: #181F30;
    box-shadow: 0px 0px 0px 1px #5B6178;
    color: #E9EAF6;
}

span.desc-info {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    padding-top: 0.625rem;
}


.input-suffix {
    p {
        color: #E9EAF6;
        font-size: 0.875rem;
        line-height: 1.5rem;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


.select-wrapper::after {
    content: url('../../assets/Chevron-Down.png');
    font-size: 1rem;
    top: 3rem;
    right: 0.6875rem;
    position: absolute;
    pointer-events: none;
}

input:focus {
    box-shadow: 0px 0px 0px 1px #663CDD inset, 0px 0px 0px 4px #B89FFF;
}
